:root {
    --jet: #353535ff;
    --ming: rgb(85, 147, 151);
    --button-hover: rgb(54, 98, 128);
    --white: #ffffffff;
    --gainsboro: #d9d9d9ff;
    --indigo-dye: #284b63ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--indigo-dye);
}

header {
    background-color: var(--indigo-dye);
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid var(--jet); */
}

header h1 {
    color: var(--white);
    margin: 20px 20px 40px 20px;
}

header div {
    display: flex;
    align-items: flex-end;

}

header div a {
    text-decoration: none;
    color: var(--white);
    display: inline;
    font-size: 24px;
    margin: 20px 20px 40px 20px;
}

header a:hover {
    border-bottom: 3px solid #ffffff;
}


main {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin: 0 30px;
    border-radius: 10px;
}



button {
    display: flex;
    flex-direction: column;
    background-color: var(--indigo-dye);
    border: 5px solid var(--indigo-dye);
    border-radius: 5px;
    font-size: 24px;
    margin: 10px;
    padding:3px 10px;
    color: #ffffff;
}

button:hover {
    background-color: var(--button-hover);
    border: 5px solid var(--button-hover);
    border-radius: 5px;

}

.possible-answers {
    font-size: 18px;
    margin: 7px;
    padding:3px 10px;

}

.welcome-title {
    background-color: var(--ming);
    border-radius: 10px 10px 0 0;
    padding: 15px 10px;
    margin: -1px;
}

.question-box {
    padding: 10px 5px;
}

.text-content {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
}

.question-title {
    font-size: 24px;
    background-color: var(--ming);
    border-radius: 10px 10px 0 0;
    padding: 15px 10px;
    margin: -1px;
}

.question-content {
    padding: 5px 10px;
    font-size: 24px;
    font-weight: bold;
}

.countdown {
    background-color: var(--ming);
    border-radius: 0 0 10px 10px;
    margin: -1px;
    font-weight: bold;
    padding: 10px;
}

.end-title {
    font-size: 30px;
    background-color: var(--ming);
    border-radius: 10px 10px 0 0;
    padding: 15px 10px;
    margin: -1px;
    text-align: center;
}

.win-text {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
}

.win-text span {
    padding: 5px 10vw;
    border-radius: 10px;
}

.submit-high-score {
    display: flex;
    background-color: var(--ming);
    border-radius: 0 0 10px 10px;
}

.submit-high-score input {
  margin: 15px;
  border-radius: 5px;
  border-style: unset;


}

.submit-title {
    background-color: var(--ming);
}


.submit-button {
    font-size: 18px;
    padding:3px 10px;
}


.high-score-container {
    background-color: var(--ming);
    margin: 0 30px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

.high-score-container h2 {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
}

.high-scores {
    text-align: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    list-style-position: inside;
    padding: 10px;
}

.high-scores li {
    text-align: center;
    padding: 3px;

}