:root {
    --jet: #353535ff;
    --ming: #3c6e71ff;
    --white: #ffffffff;
    --gainsboro: #d9d9d9ff;
    --indigo-dye: #284b63ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--indigo-dye);
}

header {
    background-color: var(--indigo-dye);
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid var(--jet); */
}

header h1 {
    color: var(--white);
    margin: 20px;
}

header div {
    display: flex;
    align-items: flex-end;

}

header div a {
    text-decoration: none;
    color: var(--white);
    display: inline;
    font-size: 24px;
    margin: 20px;
}

header a:hover {
    border-bottom: 3px solid #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin: 0 30px;
}

main div {
    
}

button {
    display: flex;
    flex-direction: column;
    background-color: var(--indigo-dye);
    border: 0;
    font-size: 24px;
    margin: 5px;
    padding:3px 10px;
    color: #ffffff;


}

main div h2 {
    background-color: var(--ming);
    padding: 10px;
}

.text-content {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
}

.countdown {
    background-color: var(--ming);
}

.high-score-container {
    background-color: var(--white);
    margin: 0 30px;
}

.high-score-container h2 {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
}